main{
    display: flex;
    flex-direction: column;
}

img{
    display: block;
    background-color: black;
    max-width: 400px;
    max-height: 600px;
    animation: fade 10s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
}