body{
    background-color: whitesmoke;
}

header{
    background-color: rgb(238, 62, 8);
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    width: 100%;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    flex: 1 3 auto;
}

header ul a{
    display: block;
    text-decoration: none;
    color: white;
}

#card2Section1 ul li{
    display: block;
    color: black;
    font-size: larger;
    text-align: center;
    list-style-type: none;
    margin: 5px 0;

}

#card2Section1 a{
    display: block;
    text-align: center;
    padding: 25px;
}

nav a{
    margin: 0;
    padding: 20px;
}

ul :hover{
    background-color: rgb(255, 255, 255);
    color: black;
    font-weight: bold;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card{
    border: 3px solid black;
    margin: 1px;
}

#card1Section1{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#card1Section2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    margin: 5px;
}

#card1Section2 section{
    /* border: 1px solid black; */
    margin: 0 5px;
    box-shadow: 3.5px 3.5px 15px rgb(0, 0, 0);
    padding: 5px;
}
#card1Section2 h4{
    text-decoration: underline;
    text-align: center;
}

.card h2{
    background-color: rgb(238, 62, 8);
    border-radius: 5%;
    text-align: center;
}

#aboutMe{
    float: right;
    margin-left: 20px;
}


footer{
    display: block;
    text-align: center;
    background-color: rgb(238, 62, 8);
    padding: 10px;
    /* height: 50px; */
    font-weight: bold;
}